a:visited {
  color: darkblue; }

a:hover {
  color: #62c2e4; }

nav {
  text-align: center;
}
a {
  font-size: 40px;
  margin: 40px;
  text-decoration: none;
  cursor: pointer; }

nav li {
  list-style-type: none; }
